<ion-view title="About Us">
    <ion-content padding="true" class="has-footer">
        <div class="transparent">
            <h2>
                ACME Inc
            </h2>
            <div>
                This is a brief description about us. 
                <h4>
                    Why choose us
                </h4>
                ACME Inc offers a great service. 
            </div>
        </div>
        <br>
        <ion-list type="card">
            <a href="https://twitter.com/" class="item item-icon-left" target="_blank"> <i class="icon ion-social-twitter"></i> Twitter profile </a>
            <a href="https://www.facebook.com/" class="item item-icon-left" target="_blank"> <i class="icon ion-social-facebook"></i> Facebook page </a>
            <a href="https://www.linkedin.com" class="item item-icon-left" target="_blank"> <i class="icon ion-social-linkedin"></i> LinkedIn profile </a>
        </ion-list>
    </ion-content>
</ion-view>